
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodApp</title>
<body>
  <!-- hambuger -->
 
  <a href="#maincontent" class="skip-link">Skip To Content </a>
  
   <nav class="container">
    
    <h1>Food App.com</h1>
    <div class="menu">
        <a href="/">Menu</a>
        <a href="#">Food</a>
        <a href="https://github.com/malikfajar1750" target="blank_">About Us</a>
    </div>
   </nav>

   <nav id="drawer">
 
      <a href="/">Menu</a>
      <a href="#">Food</a>
      <a href="https://github.com/malikfajar1750" target="blank_">About Us</a>
  
  </nav>

  <main>
    <a id="hamburger" href="#">☰</a>
  </main>
   <!-- herro elment -->

   <div class="image-hero">
    <div class="h2-hero">
        <h2>Get Join in Food App</h2>
    </div>    
   </div>
   <h4>Explore Food in App </h4>
   
   <main id="maincontent" class="img-container">
     <div class="card">
       <img src="https://restaurant-api.dicoding.dev/images/medium/41" width="450" alt="gambar1" class="img_card">
       <h4><a href="" class="none">The cookie</a></h4>
       <p>Koki adalah sebuah pelayanan dalam memasak yang anda suka ketika ada koki  hidangan makan bisa di saji dengan enak dan mantap untuk di makan </p>
       <p class="p-front">Malang</p>
      
     </div>
     <div class="card">
       <img src="https://restaurant-api.dicoding.dev/images/medium/07" width="450" alt="gambar1" class="img_card">
       <h4><a href="" class="none">Makan Bersama</a></h4>
       <p>Makan Bersama Adalah hal yang sudah biasa ketika makan bersama di temani dengan kawan kawan ataupun saudara dengna view yang sangnat indah ketika anda makan bersama</p>
       <p class="p-front">Bandung</p>
     </div>
     <div class="card">
       <img src="https://restaurant-api.dicoding.dev/images/medium/29" width="550" alt="gambar1" class="img_card">
       <h4><a href="" class="none">Lampu Malam</a></h4>
       <p>lampu malam ketika anda dengan pasangan anda maupun saudra anda yang anda suka ketika anda melakukan makan malam di cafe ataupun di restora bintang 5 lima dengan view yang indah</p>
       <p class="p-front">Kalideres</p>
     </div>
     <div class="card">
       <img src="./images/heros/hero-image_4.jpg" width="550" alt="gambar1" class="img_card">
       <h4><a href="" class="none">Lemon dan gorengan </a></h4>
       <p>gorengan dan lemon adalah makan keseharian kita bagi kita gorengan adalah sebuah makan yang sudah ada di jaman dulu ketika makan ini sangat laris di jaman nya namun masih ada saat ini </p>
       <p class="p-front">Surabaya</p>
     </div> 
     <div class="card">
       <img src="./images/heros/hero-image_7.jpg" width="550" alt="gambar1" class="img_card">
       <h4><a href="" class="none">Salat di pagi hari</a></h4>
       <p>Salat di pagi hari memang sudah biasa namun saat berolahraga masih bisa di makan ketika selesai olahraga dengan minuman lemon dan makan yang sangat bergizi, namun Salat sudah jadi makan yang sangat populer</p>
       <p class="p-front">Bekasi</p>
     </div>
     <div class="card">
       <img src="./images/heros/hero-image_6.jpg" width="550" alt="gambar1" class="img_card">
       <h4><a href="" class="none">makan Mahal</a></h4>
       <p>hidangan Makan Mahal sangat di gandurngi bsgi orang kaya karena orang kaya sering makan mahal degna view yang mewah dengan makan mahal orang kaya suka makan yang sangat mahal dan berkualitas</p>
       <p class="p-front">Aceh</p>
     </div>
   </main>
    
   <footer>
     Copyright © 2022-Food App
   </footer>

</body>
</html>